* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to top left, #28b487, #7dd56f);
    color: white;
}

.container {
    width: 80%;
    height: 100vh;
    flex-direction: column;
    gap: 50px;
    ;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 50px;
}

div[id*='word'] {
    font-size: 40px;
    padding: 20px;
    text-decoration: dashed;
    border: 1px solid white;
    border-radius: 20px;
    filter: blur(6px);
    transition: filter 0.2s ease-in;
}

div[id*='word']:hover {
    filter: blur(0px);
}

strong{
    color: rgba(0, 0, 255, 0.69);
}